{% extends 'base.html' %}

{% block page_title %}{% if not create_new %}Editing: {{ record.title }}{% else %}Create a new record{% endif %}{% endblock %}

{% block sidebar %}
<h2 class="subtitle">Actions</h2>
<div class="buttons are-small has-addons">
    <!-- <label id="save-button-label" class="button is-success" for="submit-edit-form" tabindex="0" >Save</label> -->
    <label id="validate-button-label" class="button is-warning" for="validate-edit-form" tabindex="0" >Validate</label>
    <a href="{% if not create_new %}{{ url_for('manager.handle_record', id=record.id) }}{% else %}{{ url_for('manager.index') }}{% endif %}" class="button is-danger" role="button">Cancel</a>
</div>
<div id="validate-result">Click Validate to enable Save</div>
{% endblock %}

{% block main_content %}
<div class="tabs is-toggle is-small">
    <ul>
        {% for group in display_groups %}
        <li><a href="#{{ group['name'] }}">{{ group['name'] }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="record-content">
    <form action="{{ url_for('manager.handle_record', id=record.id) }}?action=save" method="post" id="edit-form">
        {% for group in display_groups %}
        <div style="background:light-grey;">
            <div class="grouped-title">
                <h2 id="{{ group['name'] }}" class="subtitle">{{ group['name'] }}</h2>
                {% if group['help_text'] %}
                <details class="content">
                    <summary>More about this group...</summary>
                    <ul style="margin-top: .25em;">
                        {% for text in group['help_text'] %}
                        <li>{{ text | safe }}</li>
                        {% endfor %}
                    </ul>
                </details>
                {% endif %}
            </div>
            <div class="grouped-fields">
            {% for field in group['fields'] %}
                <!-- allow explict widget setting, but default to data type also -->
                {% if field.widget %}
                    {% include 'crud/widgets/' + field.widget %}
                {% else %}
                    <span><em>(no widget configured, using default)</em></span>
                    {% include 'crud/widgets/text-simple.html' %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endfor %}
        <input type="submit" id="validate-edit-form" class="hidden"
            hx-post="{{ url_for('manager.handle_record', id=record.id) }}?action=validate"
            hx-trigger="click"
            hx-target="#validate-result"
            hx-swap="innerHTML"
            hidden />
        <input type="submit" id="submit-edit-form" class="hidden" hidden />
    </form>
</div>
{% endblock %}

<script>
// document.addEventListener('DOMContentLoaded', () => {

//     // Get all "navbar-burger" elements
//     const btn = document.getElementById("save-button-label")
    
//     console.log("asdfwfwfw")
//     btn.addEventListener('click', () => {

//         console.log("asdf")

//     });

    // // Functions to open and close a modal
    // function openModal($el) {
    // $el.classList.add('is-active');
    // }

    // function closeModal($el) {
    // $el.classList.remove('is-active');
    // }

    // function closeAllModals() {
    // (document.querySelectorAll('.modal') || []).forEach(($modal) => {
    // closeModal($modal);
    // });
    // }

    // // Add a click event on buttons to open a specific modal
    // (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    // const modal = $trigger.dataset.target;
    // const $target = document.getElementById(modal);

    // $trigger.addEventListener('click', () => {
    // openModal($target);
    // });
    // });

    // // Add a click event on various child elements to close the parent modal
    // (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
    // const $target = $close.closest('.modal');

    // $close.addEventListener('click', () => {
    // closeModal($target);
    // });
    // });

    // // Add a keyboard event to close all modals
    // document.addEventListener('keydown', (event) => {
    // if(event.key === "Escape") {
    // closeAllModals();
    // }
    // });

// });
</script>
