{% extends 'crud/widgets/_base.html' %}

{% block note %}
put multiple references on separate lines, with this format: <code>&lt;reference uri&gt;:: &lt;value&gt;</code> where <code>reference uri</code> is one of <a href="https://opengeometadata.org/reference-uris/" target="_blank">these options &nearr;</a>
{% endblock %}

{% block input %}
<textarea 
style="white-space:pre; overflow-wrap:normal; overflow-x:scroll; width:100%;"
rows="5"
cols="33"
form="edit-form"
name="{{field.id}}"
>{% if record and record[field.id] %}{{record[field.id]}}{% endif %}</textarea>
{% endblock %}