{% extends 'crud/widgets/_base.html' %}

{% block note %}
{% if field.multiple %}
ctrl + click to select/deselect multiple items
{% endif %}
{% endblock %}

{% block input %}
<div class="select {% if field.multiple %}is-multiple{% endif %}">
    <select name="{{ field.column_name }}"
        placeholder="" 
        {% if record %}value="{{ record[field.column_name] }}"{% endif %}
        {% if field.multiple %}multiple{% endif %}
        >
        {% if not field.multiple %}
        <option></option>
        {% endif %}
        {% for choice in field.controlled_options %}
        <option value="{{ choice }}" {% if choice in record[field.column_name].split("|") %}selected=true{% endif %}>{{ choice }}</option>
        {% endfor %}
    </select>
</div>
{% endblock %}