{% extends 'crud/widgets/_base.html' %}

{% block note %}
{% if field.multiple %}
ctrl + click to select/deselect multiple items
{% endif %}
{% endblock %}

{% block input %}
<div class="select">
    <select name="{{ field.id }}"
        placeholder="" 
        {% if record %}value="{{ record[field.id] }}"{% endif %}
        >
        <option></option>
        {% for choice in relations_choices %}
        <option value="{{ choice.0 }}" {% if choice.0 in record[field.id].split("|") %}selected=true{% endif %}>{{ choice.1 }} [{{ choice.0 }}]</option>
        {% endfor %}
    </select>
</div>
{% endblock %}