:root {
    --primary-color: #ff9c77;
    --light-color: #ffe5c4;
    --lighter-color: #FFE6C2;
    --highlight-color: #7e1cc4;
}

* {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka', sans-serif;
}

a {
    /* color: var(--primary-color); */
    font-weight: bolder;
}

summary {
    cursor: pointer;
}

details {
    font-size: .9em;
}

.grouped-title {
    margin-top: 15px;
}
.grouped-fields {
    margin-top: 15px;
}

.button.is-primary {
    background-color: var(--highlight-color);
    color: white;
}

.btn:hover {
    color: black;
    background-color: var(--light-color);
    border-color: var(--light-color);
}

.btn:active {
    color: black !important;
    background-color: var(--lighter-color) !important;
    border-color: var(--lighter-color) !important;
}

.btn-primary {
    min-height: 30px;
    padding: 2px 8px;
    color: black;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-list {
    display: flex;
    flex-direction: column;

}
.btn-list > * {
    margin-bottom: 5px;
}


.form-group {
    margin-top: 10px;
}

.form-label {
    font-weight: 500;
}

.title-bar {
    height: 40px;
}

.subtitle {
    margin: 10px 0 0 0 !important;
    font-weight: bold;
}

.label {
    color: #393939;
}

.record-content {
    height:calc(100vh - 196px);
    overflow-y: auto;
}

.control {
    margin-top: 10px;
}

.sidebar {
    height:calc(100vh - 116px);
    overflow-y: auto;
}

.sidebar-content {
    text-align:center;
    margin:20px;
    padding:10px;
}

.message {
    padding: 10px;
    margin: 5px;
    background-color: #f3f3f3
}

.required {
    color: darkred;
}
.suggested {
    color: darkorange;
}

.progress-100 {
    background-color: #cff1cf;
}
.progress-gte75 {
    background-color: #f6dac0;
}
.progress-lt75 {
    background-color: #f2c3be;
}