<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Metadata Manager | SDOH & Place Discovery App{% endblock %}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link href=" https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css " rel="stylesheet">
    
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js" integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'navbar.html' %}
    {% block full_width_content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="notification is-{{category}} is-small">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="columns" style="margin-top:0;">
            <div class="column">
                <h1 class="title">{% block page_title %}{% endblock %}</h1>
            </div>
        </div>
        {% block content %}
        <div class="columns">
            <div class="column main-content">
                {% block main_content %}{% endblock %}
            </div>
            <div class="column is-one-fifth sidebar">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</body>
</html>
