{% extends 'base.html' %}

{% block page_title %}SDOH Place Metadata Records{% endblock %}

{% block sidebar %}
{% if user.is_authenticated %}
<h2 class="subtitle">Actions</h2>
<div class="buttons are-small">
    <a href="{{ url_for('manager.create_record')}}" class="button">Create New Record</a>
    <form style="width:100%" action="{{ url_for('manager.handle_solr', id='reindex-all') }}" method="post">
        <button class="button" style="width:100%"  name="index-btn" value="index" title="Clean and recreate the entire Solr index from current records">Refresh Solr Index</button>
    </form>
</div>
{% endif %}
{% endblock %}

{% block full_width_content %}
<div class="table-container">
    <table class="table table-striped is-fullwidth all-records-table">
        <thead>
            <tr>
                {% for field in fields %}
                <td style="position:sticky; top:0; background:white; border-bottom: 2px solid gray;">{{field.id}}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody >
            {% for record in records %}
            <tr title="{{ record.title }}">
                <td style="min-width:400px"><div class="row-item"><a href="/record/{{record.id}}">{{ record.title }}</a></div></td>
                {% for field in fields %}
                    {% if field.id != 'title' %}
                    <td><div class="row-item">{{ record[field.id] }}</div></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}