{% extends 'base.html' %}

{% block page_title %}SDOH Place Metadata Records{% endblock %}

{% block sidebar %}
{% if user.is_authenticated %}
<h2 class="subtitle">Actions</h2>
<div class="buttons are-small">
    <a href="{{ url_for('manager.create_record')}}" class="button">Create New Record</a>
    <form style="width:100%" action="{{ url_for('manager.handle_solr', id='reindex-all') }}" method="post">
        <button class="button" style="width:100%"  name="index-btn" value="index" title="Clean and recreate the entire Solr index from current records">Refresh Solr Index</button>
    </form>
</div>
<h3>Info</h3>
<div style="font-size:.8em;">
    {% if user.is_authenticated %}
    Solr Host: {{ solr.host }}<br>
    {% endif %}
    Solr Core: {{ solr.core }}
</div>
{% endif %}
{% endblock %}

{% block main_content %}
<table class="table table-striped is-fullwidth">
    <tbody>
        {% for record in records %}
        <tr>
            <td style="display:flex; justify-content: space-between;">
                <div><a href="{{ url_for('manager.handle_record', id=record.id) }}">{{record['title']}}</a></div>
                <div class="buttons are-small">
                    {% if user.is_authenticated %}
                    <a href="{{ url_for('manager.handle_record', id=record.id) }}?edit=true" class="button">Edit</a>
                    {% endif %}
                    <a href="{{ url_for('manager.handle_record', id=record.id) }}?f=json" class="button" data-tooltip="View this record as JSON">JSON</a>
                    <a href="{{ url_for('manager.handle_record', id=record.id) }}?f=solr" class="button" data-tooltip="View this record's corresponding Solr document">Solr</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}