{% extends 'base.html' %}

{% block page_title %}SDOH Place Metadata Records{% endblock %}

{% block sidebar %}
{% if user.is_authenticated %}
<h2 class="subtitle">Actions</h2>
<div class="buttons are-small">
    <a href="{{ url_for('manager.create_record')}}" class="button">Create New Record</a>
    <form style="width:100%" action="{{ url_for('manager.handle_solr', id='reindex-all') }}" method="post">
        <button class="button" style="width:100%"  name="index-btn" value="index" title="Clean and recreate the entire Solr index from current records">Refresh Solr Index</button>
    </form>
</div>
{% endif %}
{% endblock %}

{% block main_content %}
<table class="table table-striped is-fullwidth home-table">
    <thead>
        <tr>
            <td>Title</td>
            <td style="white-space:nowrap;">Created by</td>
            <td>Completeness</td>
            <td>
                {% if show_hidden %}
                <a href="/" title="hide suppressed records">hide suppressed</a>
                {% else %}
                <a href="/?show-hidden=true" title="show all records including those marked 'suppressed'">show all</a>
                {% endif %}
            </td>
            <td style="white-space:nowrap;">View as...</td>
        </tr>
    </thead>
    <tbody style="overflow-y:auto; max-height: calc(100vh - 110px);">
        {% for record in records %}
        <tr>
            <td>
                <div class="row-item">
                    <a href="{{ url_for('manager.handle_record', id=record.id) }}">{{record['title']}}</a>
                </div>
            </td>
            <td>
                <div class="row-item">
                    <span style="font-size:.8em; white-space:nowrap;">{{record['_meta']['created_by']}}</span>
                </div>
            </td>
            <td>
                <div class="row-item">
                    <span class="tag is-{{record['_meta']['progress_class']}}">{{record['_meta']['filled_pct']}}% ({{record['_meta']['filled']}}/{{record['_meta']['to_fill']}})</span>
                </div>
            </td>
            <td>
                <div class="row-item">
                    {% if record['suppressed'] %}
                    <span class="tag is-dark">hidden</span>
                    {% endif %}
                </div>
            </td>
            <td>
                <div class="row-item" style="width:100px">
                    <div class="field has-addons">
                        <p class="control" style="margin:0;">
                            <a href="{{ url_for('manager.handle_record', id=record.id) }}?f=json" class="button is-link is-small" data-tooltip="View this record as JSON">JSON</a>
                        </p>
                        <p class="control" style="margin:0;">
                        <a href="{{ url_for('manager.handle_record', id=record.id) }}?f=solr" class="button is-link is-small" data-tooltip="View this record's corresponding Solr document">Solr</a>
                        </p>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
