{% extends 'base.html' %}

{% block content %}
<form method="post">
    <div class="row">
        <div class="col-9 main-content">
            <h1>{% block title %}{% if record['id'] %}Editing: {{ record['title'] }}{% else %}Create a new record{% endif %}{% endblock %}</h1>
            {% for group_name, fields in field_groups.items() %}
            <div class="mb-3">
            <div style="background:light-grey;">
                <h2>{{ group_name }}</h2>
                {% for field in fields %}
                    {% include 'widgets/universal.html' %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        </div>
        <div class="col-3">
            <div class="sidebar-content">
                <h2>Actions</h2>
                <div class="btn-group" role="group" aria-label="Action buttons">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
