{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-9 main-content">
        <h1>{% block title %}SDOH Place Metadata Records{% endblock %}</h1>
        <table class="table table-striped">
            <tbody>
                {% for record in records %}
                <tr>
                    <td style="display:flex; justify-content: space-between;">
                        <div><strong>{{record['title']}}</strong></div>
                        <div class="button-group">
                            <a href="{{ url_for('manager.handle_record', id=record['id']) }}" class="btn btn-primary">View</a>
                            <a href="{{ url_for('manager.handle_record', id=record['id']) }}?edit=true" class="btn btn-primary">Edit</a>
                            <a href="{{ url_for('manager.handle_record', id=record['id']) }}?f=json" class="btn btn-primary">JSON</a>
                            <a href="{{ url_for('manager.handle_record', id=record['id']) }}?f=solr" class="btn btn-primary">SOLR</a>
                        </div>
                    <td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-3">
        <div class="sidebar-content">
            <h2>Actions</h2>
            <div class="btn-list">
                <a href="{{ url_for('manager.create_record')}}" class="btn btn-primary">Create New Record</a>
                <a href="{{ gbl_host }}"  class="btn btn-primary" target="_blank">Go to GeoBlacklight &rarr;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}