{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-9 main-content">
        <h1>{% block title %}{{ record.title }}{% endblock %}</h1>
        {% for group_name, fields in field_groups.items() %}
        <div>
            <h2>{{ group_name }}</h2>
            <table class="table table-striped">
                <tbody style="overflow-x:auto;">
                    {% for field in fields %}
                        {% include 'widgets/display.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
    <div class="col-3">
        <div class="sidebar-content">
            <h2>Actions</h2>
            <div class="btn-group" role="group" aria-label="Action buttons">
                <form action="{{ url_for('manager.handle_solr', id=record['id']) }}" method="post" target="_blank">
                    <a href="{{ url_for('manager.handle_record', id=record['id']) }}?edit=true" class="btn btn-primary" role="button">Edit</a>
                    <button class="btn btn-info" name="index-btn" value="index" title="Index this record in SOLR (will overwrite existing record with same id)">Index</button>
                    <a href="{{ url_for('manager.handle_record', id=record['id']) }}?action=export&f=json" class="btn btn-primary" role="button" target="_blank">Export</a>
                    <a href="{{ gbl_host }}/catalog/{{ record['id'] }}" class="btn btn-primary" role="button" target="_blank">View in GBL</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}