{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-9 main-content">
        <h1>{% block title %}{{ record.title }}{% endblock %}</h1>
        {% for group_name, fields in field_groups.items() %}
        <div>
            <h2>{{ group_name }}</h2>
            <table class="table table-striped">
                <tbody style="overflow-x:auto;">
                    {% for field in fields %}
                    <tr class="{{ field['obligation'] }} display-group">
                        <td scope="row" style="width:250px;">
                            <span class="{{ field['obligation'] }}">{{ field['label'] }}</span>
                            {% if field['multiple'] %}+{% endif %}
                            {% if field['schema'] == 'Aardvark' %}
                                <a href="https://opengeometadata.org/ogm-aardvark/#{{ field['slug'] }}" target="_blank">&nearr;</a>
                            {% endif %}
                        </td>
                        <td>{{ record[field['column_name']] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
    <div class="col-3">
        <div class="sidebar-content">
            <h2>Actions</h2>
            <div class="btn-list">
                <a href="{{ url_for('manager.handle_record', id=record['id']) }}?edit=true" class="btn btn-primary" role="button">Edit this record</a>
                <div class="btn-group" role="group" aria-label="Action buttons">
                    <form style="width:100%" action="{{ url_for('manager.handle_solr', id=record['id']) }}" method="post">
                        <button class="btn btn-primary" style="width:100%"  name="index-btn" value="index" title="Index this record in SOLR (will overwrite existing record with same id)">Re-index in SOLR</button>
                    </form>
                </div>
                <a href="{{ url_for('manager.handle_record', id=record['id']) }}?f=json" class="btn btn-primary">View JSON document</a>
                <a href="{{ url_for('manager.handle_record', id=record['id']) }}?f=solr" class="btn btn-primary">View SOLR document</a>
                <a href="{{ gbl_host }}/catalog/{{ record['id'] }}" class="btn btn-primary" role="button" target="_blank">View in GBL</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}